<main class="container">
    <h1>User Management</h1>
  
    <!-- Tabla de usuarios -->
    <table class="user-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Subscription Type</th>
          <th>Convertions</th>
          <th>Max convertions</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iteración de usuarios -->
        @for (user of userService.user; track $index) {
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.subscription.subscriptionType}}</td>
              <td [class.max-conversions]="user.conversions >= user.subscription.maxConversions">
              {{ user.conversions }} 
              </td>
            <td>{{ user.subscription.maxConversions }}</td>
            <td [attr.data-role]="user.role">{{ user.role }}</td>

             <td class="actions">
              <button (click)="updateUser(user.username, user.subscription.subId)" class="btn btn-update">Update</button> 
              <button (click)="DeleteUser(user.username)" class="btn btn-delete">Delete</button>
            </td> 
          </tr>
        }
      </tbody>
    </table>
  
    <button (click)="openCreateUserModal()" class="btn btn-create">
      +
    </button>
    