<main>
<div class="currencies-container">
  @if(this.authService.user?.role === "Admin"){
    <h2>Currencies Management</h2>
  }
  @else {
    <h2>Currencies</h2>
  }
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Legend</th>
          <th>Symbol</th>
          <th>Convertion Index</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (currency of currencyService.currency; track $index) {
          <tr>
          <td>{{ currency.code }}</td>
          <td>{{ currency.legend }}</td>
          <td>{{ currency.symbol }}</td>
          <td>{{ currency.convertionIndex }}</td>
           <td>
            <div class = "btn-container">
            @if(authService.user?.role === "Admin"){
           <button (click)="updateCurrency(currency)"  class = "btn">Update</button>
            <button (click)="DeleteCurrency(currency.code)"  class = "btn">Delete</button>  
            }
            @else{
              <button (click)="updateCurrency(currency)"  class = "not-admin">Update</button>
              <button (click)="DeleteCurrency(currency.code)"  class = "not-admin">Delete</button>
            }
            </div>
          </td> 
          </tr>
        }
      </tbody>
    </table>
   </div> 
   @if(this.authService.user?.role === "Admin"){
   <button (click)="openCreateCurrencyModal()" class="btn btn-create">
    +
  </button>
}