
$background-color: #0d1117;
$text-color: #c9d1d9;
$accent-color: #58a6ff;
$table-header-color: #244b81;
$table-row-hover-color: #3073d1;

// Reset y estilos generales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;

  color: $text-color;
  line-height: 1.6;
  padding: 20px;
}

.container {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url("/assets/img/history.jpg") ;
  background-size:cover;  
  background-repeat: no-repeat;
  background-attachment: fixed; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: $accent-color;
    border: 4px double rgb(235, 34, 235); 
    padding: 10px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3); 
    background-color: $table-header-color; 
  }
  


.card {
  background-color: $table-header-color;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 4px double rgb(235, 34, 235); 

  thead {
    background-color: $table-header-color;

    th {
      text-align: left;
      padding: 10px;
      color: $accent-color;
      font-size: 1rem;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: $table-row-hover-color;
      }

      &:hover {
        background-color: $accent-color;
        color: $background-color;
      }

      td {
        padding: 10px;
        border-bottom: 1px solid $table-header-color;
      }
    }
  }
}

// Mensajes sin datos
.no-data {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: $accent-color;
}

// Barra de búsqueda para el admin
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;

  label {
    font-size: 1rem;
  }

  input {
    flex: 0.25rem;
    padding: 10px;
    border: 1px solid $accent-color;
    border-radius: 4px;
    background-color: $table-row-hover-color;
    color: $text-color;

    &::placeholder {
      color: lighten($text-color, 20%);
    }
   
  }
  select {
    padding: 10px;
    border: 2px solid $accent-color;
    border-radius: 4px;
    background-color: $table-row-hover-color;
    color: $text-color;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:focus {
      border-color: lighten($accent-color, 10%);
      outline: none;
      box-shadow: 0 0 5px rgba($accent-color, 0.8);
    }

    option {
      background-color: $background-color;
      color: $text-color;
    }
  }


  
  button {
    padding: 10px 20px;
    background-color: $accent-color;
    color: $background-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      background-color: lighten($accent-color, 10%);
    }
  }
}
