
    <main class="container">
        <h1>Conversion History</h1>
      
        <div class="card">
          @if (authService.user?.role === "User") {
            <div class="search-bar">
              <label for="monthSelect">Select Month:</label>
              <select id="monthSelect" [(ngModel)]="formGetConvData.month">
                <option value="0" disabled>Select a Month</option>
                <option *ngFor="let month of months" [value]="month.value">
                  {{ month.name }}
                </option>
              </select>
              <button (click)="searchConvertionsForUser(formGetConvData.month)">Search</button>
            </div>
            @if (isLoading) {
              <p>Loading...</p>
            }
            @else if (convertionService.convertions.length > 0) {
              <table class="user-table">
                <thead>
                  <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Result</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  @for (convertion of convertionService.convertions; track $index) {
                    <tr>
                      <td>{{ convertion.code1 }}</td>
                      <td>{{ convertion.code2 }}</td>
                      <td>{{ convertion.amount   }}</td>
                      <td>{{ convertion.result  }}</td>
                      <td>{{ convertion.date | date: "short" }}</td>
                    </tr>
                  }
                </tbody>
              </table>
            }
            @else {
              <p class="no-data">You haven’t done any conversion this month!</p>
            }
          } 
          @else {

            <div class="search-bar">
              <label for="usernameInput">Username:</label>
              <input
                type="string"
                id="usernameInput"
                [(ngModel)]="formGetConvData.username"
                placeholder="Enter Username"
              />
            
              <label for="monthSelect">Month:</label>
              <select id="monthSelect" [(ngModel)]="formGetConvData.month">
                <option value="0" disabled>Select a Month</option>
                <option *ngFor="let month of months" [value]="month.value">
                  {{ month.name }}
                </option>
              </select>
            
              <button (click)="searchConvertions(formGetConvData)">Search</button>
            </div>
            
      
            @if (convertionService.convertions.length > 0) {
              <table class="user-table">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Result</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  @for (convertion of convertionService.convertions; track $index) {
                    <tr>
                      <td>{{ convertion.username }}</td>
                      <td>{{ convertion.code1 }}</td>
                      <td>{{ convertion.code2 }}</td>
                      <td>{{ convertion.amount  }}</td>
                      <td>{{ convertion.result  }}</td> 
                      <td>{{ convertion.date | date: "short" }}</td>
                    </tr>
                  }
                </tbody>
              </table>
            }
            @else {
              <p class="no-data">The user has not done any conversions this month yet!</p>
            }
          }
        </div>
      </main>
      