<header>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <a [routerLink]="['/converter']" routerLinkActive="link-activo"><img src="/assets/icons/currencyIcon.webp" alt="Cerrar sesión" class="userlogo"></a>
    <h4>Hi {{ user.username }}!</h4>
    <nav>
        <a [routerLink]="['/currencies']" routerLinkActive="link-activo">Currencies</a>
         @if(authService.user?.role === "Admin"){ 
            <a [routerLink]="['/user-manage']" routerLinkActive="link-activo">User manage</a>
         }
        <div class="usuario">
            <button (click)="cerrarSesion()" class="logout-button">
                <img src="/assets/icons/logout.png" alt="Cerrar sesión" class="userlogo"> 
            </button>
        </div>
    </nav>
</header>
<router-outlet />
